@font-face{
  font-family:'bitbit';
  src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}

* {
  font-family: 'bitbit';
  text-align: center;
}

body {
  background: rgba(214, 214, 214, 0.203);
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heart {
  color:rgba(200, 162, 208, 0.861);
  font-size: 18px;
}
h2 {
  margin: 10px;
  color: rgb(86, 82, 86);
}
#d-day {
  font-size: 30px;
}
#remain-time {
  font-size: 22px;
}
.time-wrap {
  margin: 10px 0;
}